<!-- Hydrogen Bonds Modal -->
<div id="bondsModal" class="reveal-modal medium" data-reveal>
  <h2>Hydrogen Bonds</h2>
  <p>A hydrogen bond is a weak electrostatic attraction between an electronegative (partially negative charged) atom, such as nitrogen or oxygen, and a hydrogen atom covalently bonded to a second electronegative atom.</p>

  <%= image_tag("hydrogenBondCharges.png") %>

  <p>In a protein, hydrogen bonding helps to form the secondary structure, the alpha-helices and beta-pleated sheets. This is because the C=O and N-H groups of the amino acids head groups (which also make up the peptide bonds) are able to hydrogen bond to other N-H and C=O in the head groups of neighbouring amino acids (4 amino acids distant) along the polypeptide chain, causing the polypeptide chain to either coil into a helix, or form a pleated layer. The following videos explain how the hydrogen bond can be used to form these different structures.</p>

  <p><a href="http://www.youtube.com/watch?v=eUS6CEn4GSA" target="_blank">Hydrogen bonds in the alpha helix.</a></p>

  <p><a href="http://www.youtube.com/watch?v=wM2LWCTWlrE" target="_blank">Hydrogen bonds in the beta-pleated sheet.</a></p>

  <p>Hydrogen bonds are also important in stabilising the tertiary structure of proteins. These hydrogen bonds form between the R-groups (also known as the side chains) of amino acids within a protein. These R-groups also contain atoms such as nitrogen, oxygen and hydrogen necessary for hydrogen bonding. Unlike hydrogen bonding in secondary structure, which is restricted to neighbouring amino acids; the hydrogen bonding forming in tertiary structure can form between amino acids that are distant (e.g 1000 amino acids) from each other.</p>

  <p>As mentioned above, hydrogen bonds are relatively weak and so can be broken using mechanical force, heat or altering the pH. These are all common techniques used to denature proteins in food processing as you would find when whisking, cooking or pickling food.  When these hydrogen bonds are disrupted, the secondary structure (alpha-helices and beta-pleated sheets) and tertiary structure (globular or fibrillar) of the protein are also destroyed (or ‘denatured’). An example of this can be seen when you beat an egg with a whisk to make a meringue. Before beating the egg, the egg white will appear smooth. However, during beating, the force of the whisk breaks the hydrogen bonds within the globular albumin proteins. New hydrogen bonds form spontaneously and irregularly, leading to the stiff foam-like consistency we see after beating the egg.</p>

  <p>You can read more about Hydrogen bonds in proteins in Chapter Five (pg 164-165) of Coultate’s “Food; the Chemistry of its Components”, or Chapter 2.3.2.2 (pg 16-18) of Campbell-Platt’s “Food Science and Technology”, both of which you can find in the resources section.</p>

  <a class="close-reveal-modal">&#215;</a>

</div> <!-- End Hydrogen Bonds Modal -->

<!-- Digestive Enzymes Modal -->
<div id="enzymesModal" class="reveal-modal medium" data-reveal>
  <h2>Digestive Enzymes</h2>

  <p>Within the gastrointestinal tract are enzymes which help to break down proteins and other biological macromolecules. Each enzyme is specific for cleaving (or breaking) a particular chemical bond. Two in particular, trypsin and chymotrypsin, cleave the peptide bonds in proteins. When the peptide bond is cleaved, the C=O side becomes a carboxylic acid (an <span id="red">OH</span> is added) and the NH side becomes an amine (an <span id="blue">H</span> is added). This addition of water is known as hydrolysis.</p>

  <%= image_tag("digestiveEnzyme.png") %>


  <p>As a side note (and not required in your learning just yet), trypsin and chymotrypsin cleave only before or after particular amino acids. Chymotrypsin cleaves at the carboxyl (C=O) side of amino acids with an aromatic or large R group, and trypsin cleaves at the carboxyl side of the amino acids lysine (Lys) or arginine (Arg), except when they are followed by proline (Pro).</p>

  <p>You can read more about digestive enzymes in pages 120-121 of Garrett’s “Biochemistry”, and Chapter 6 of Whitney’s “Understanding Nutrition; 13th Edition”, both of which you can find in the resources section.</p>

  <a class="close-reveal-modal">&#215;</a>
</div> <!-- End Digestive Enzymes Modal -->

<!-- Kjeldahl Method Modal -->
<div id="kjeldahlModal" class="reveal-modal medium" data-reveal>
  <h2>Kjeldahl Method</h2>

  <p>The Kjeldahl method is an analytical method used to approximate the amount of protein in a food sample. Using three chemical reactions, the nitrogen present in amino acids are converted into a different form of nitrogen, ammonium borate, which can be measured by titration. Using the titration data, it is possible to first determine how much nitrogen is in the sample, and from this, calculate the approximate amount of protein.</p>

  <p>The Kjeldahl method can be performed manually, or using an automated instrument. In either case, the method requires three steps, which are 1. Digestion, 2. Distillation and 3. Titration. In the first step, the food and protein is ‘digested’ using strong acid, which breaks the protein down to free the nitrogen into a salt form. In the second step, distillation, the nitrogen salt is converted into ammonia, a gas with nitrogen in it, and then another type of nitrogen salt. Finally, in the titration step, a titration is carried out whereby a colour change is used to determine the amount of nitrogen. The chemical reactions for the three steps are shown below.</p>

  <%= image_tag("kjeldahlMethod.png") %>

  <p>The Kjeldahl method is used to measure the amount of nitrogen in a sample, rather than say carbon or hydrogen, because nitrogen is not found in other major food components. For example, fats, sugars and fibres contain carbon and hydrogen and oxygen, but not nitrogen. However, there are some vitamins and minor food components that do contain nitrogen (such as Vitamin B3, Niacin), which is why the Kjeldahl method is an approximate, and not an exact protein calculation. Also, some amino acids (such as Lysine) contain a second nitrogen within their R group, which can also throw out protein calculations.</p>

  <canvas id="niacinViewer"></canvas>
  <canvas id="lysineViewer"></canvas>

  <script>
    var molFile = "65-31-6.mol\n ChemDraw06210908242D\n\n  9  9  0  0  0  0  0  0  0  0999 V2000\n   -1.0313   -0.0000    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0\n   -0.2062   -0.0000    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0\n    0.2062    0.7145    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0\n    1.0313    0.7145    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0\n    1.4437   -0.0000    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0\n    1.0313   -0.7145    0.0000 N   0  0  0  0  0  0  0  0  0  0  0  0\n    0.2062   -0.7145    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0\n   -1.4437   -0.7145    0.0000 O   0  0  0  0  0  0  0  0  0  0  0  0\n   -1.4437    0.7145    0.0000 O   0  0  0  0  0  0  0  0  0  0  0  0\n  1  2  1  0      \n  2  3  1  0      \n  3  4  2  0      \n  4  5  1  0      \n  5  6  2  0      \n  6  7  1  0      \n  2  7  2  0      \n  1  8  2  0      \n  1  9  1  0      \nM  END";

    if (twoD == false) {
      var niacinViewer = new ChemDoodle.TransformCanvas3D('niacinViewer', 250, 250);
      niacinViewer.specs.set3DRepresentation('Stick');
      niacinViewer.specs.backgroundColor = '#222'; // Dark grey.
      niacinViewer.specs.atoms_displayLabels_3D = true;

      var mol = ChemDoodle.readMOL(molFile, 1);
      niacinViewer.loadMolecule(mol);

      var lysineViewer = new ChemDoodle.TransformCanvas3D('lysineViewer', 250, 250);
      lysineViewer.specs.set3DRepresentation('Stick');
      lysineViewer.specs.backgroundColor = '#222'; // Dark grey.
      lysineViewer.specs.atoms_displayLabels_3D = true;

      molFile = mol_LYSINE;
      var mol = ChemDoodle.readMOL(molFile, 1);
      lysineViewer.loadMolecule(mol);
    }
    else {
      var niacinViewer = new ChemDoodle.TransformCanvas('niacinViewer', 250, 250, true);
      niacinViewer.specs.bonds_useJMOLColors = true;
      niacinViewer.specs.bonds_width_2D = 3;
      niacinViewer.specs.atoms_display = false;
      niacinViewer.specs.backgroundColor = 'black';
      niacinViewer.specs.bonds_clearOverlaps_2D = true;

      var file = ChemDoodle.readMOL(molFile);
      file.findRings = false;
      niacinViewer.loadMolecule(file);

      var lysineViewer = new ChemDoodle.TransformCanvas('lysineViewer', 250, 250, true);
      lysineViewer.specs.bonds_useJMOLColors = true;
      lysineViewer.specs.bonds_width_2D = 3;
      lysineViewer.specs.atoms_display = false;
      lysineViewer.specs.backgroundColor = 'black';
      lysineViewer.specs.bonds_clearOverlaps_2D = true;

      var file = ChemDoodle.readMOL(mol_LYSINE);
      file.findRings = false;
      lysineViewer.loadMolecule(file);
    }
  </script>
  <p><i>Vitamin B3 contains a nitrogen atom, while the amino acid Lysine contains two nitrogens.</i></p>

  <p>Watch the following video for more information on how the three steps of the Kjeldahl method allow us to work out how much nitrogen, and therefore protein, is in a food sample.</p>

  <p>
    <%= link_to("Kjeldahl basics and reasoning.", "http://www.educreations.com/lesson/view/kjeldahl-basics-and-reasoning/9272677/") %>
  </p>

  <p>You can read more about the Kjeldahl Titration in Chapter Five (pg 174-5) of Coultate’s “Food; the Chemistry of its Components”, which you can find in the resources section.</p>
  <a class="close-reveal-modal">&#215;</a>
</div> <!-- End Kjeldahl Method Modal -->

<!-- Resources Modal -->
<div id="resourcesModal" class="reveal-modal medium" data-reveal>
  <h2>Resources/Links</h2>

  <p><%= link_to("Food Science and Technology - Campbell Platt - 2009 - Chapter 2.3", "http://ezproxy.deakin.edu.au/login?url=http://deakin.eblib.com.au/patron/Read.aspx?p=454392&pg=26", :target => "_blank")  %></p>

  <p><%= link_to("Essentials of Food Science \"Proteins in Food: An Introduction\" Chapter", "http://ezproxy.deakin.edu.au/login?url=http://link.springer.com/book/10.1007%2F978-0-387-69940-0", :target => "_blank")  %></p>

  <p><%= link_to("Food The Chemistry of Its Components - Coultate - 2009 - Chapter 5 - Proteins", "http://app.knovel.com/web/view/swf/show.v/cid:kt00A7TMG4/root_slug:food-chemistry-its-components?cid=kt00A7TMG4&page=1&b-toc-cid=kpFTCCE001&b-toc-root-slug=food-chemistry-its-components&b-toc-url-slug=food-chemistry-its-components&b-toc-title=Food%20-%20The%20Chemistry%20of%20its%20Components%20(5th%20Edition)", :target => "_blank")  %></p>

  <p><%= link_to("Garrett \"Biochemistry\" - How is the structure of a protein determined?", "http://apps.deakin.edu.au/ereadings/equella/download/unitcode/HSN104_TRI-1_2014/item/cee0cb5f-4c0f-345d-98d2-5881d0963508/version/1/attachment/scan-howis-garrett-2007.pdf", :target => "_blank")  %></p>

  <p><%= link_to("Understanding Nutrition - Whitney - 2013 - Chapter 6 - Proteins: Amino Acids", "http://apps.deakin.edu.au/ereadings/equella/download/unitcode/HSN104_TRI-1_2014/item/fb1ec718-5229-eaa8-154f-51cd530f7207/version/1/attachment/scan-proteinamino-whitney-2013.pdf", :target => "_blank")  %></p>

  <a class="close-reveal-modal">&#215;</a>
</div> <!-- End Resources Modal -->

<!-- Help Modal -->
<div id="helpModal" class="reveal-modal medium" data-reveal>
  <h2>Need some help?</h2>

  <h3 class="subheader">Main menu</h3>

  <p>To access the menu, on the left hand side there is a tab labeled Menu. As you click on the menu button a window will appear on your left allowing you access to different options.</p>

  <h5 class="subheader">Display Modes</h5>

  <ul>
    <li>Ball and Stick</li>
    <li>Space Filling</li>
    <li>Wireframe</li>
    <li>Polarity - Displays the hydrophobic and hydrophillic domains of the structure</li>
    <li>Labels - Displays amino acid labels on the main 3D structure and atomic labels on the amino acid structures.</li>
  </ul>

  <h5 class="subheader">Protein Structures</h5>
  <p>Click the dropdown box to load a different protein structure.</p>

  <h5 class="subheader">Amino acid structures</h5>
  <p>Click the dropdown box to load a different amino acid structure.</p>

  <h3 class="subheader">Navigating 3D models.</h3>

  <h5 class="subheader">Desktop/laptop</h5>
  <ul>
    <li>Rotate 3D model - Hold left mouse and drag.</li>
    <li>Move 3D model - Hold <kbd>alt</kbd>, left mouse and drag.</li>
    <li>Zoom in and out - Mouse wheel scroll or two finger swipe (up/down) on touchpad.</li>
  </ul>

  <h5 class="subheader">Touch device</h5>
  <ul>
    <li>Rotate 3D model - One finger swipe.</li>
    <li>Move 3D model - Two finger swipe.</li>
    <li>Zoom in and out - Two finger pinch.</li>
  </ul>

  <h3 class="subheader">Quiz</h3>
  <p>Drag the words (blue boxes) to their appropriate statement placeholder (grey boxes).</p>

  <p>Press the 'Mark me!' button to have your quiz marked.</p>

  <a class="close-reveal-modal">&#215;</a>
</div> <!-- End Help Modal -->

<!-- Bug Modal -->
<div id="bugModal" class="reveal-modal medium" data-reveal>
  <h2>Got issues?</h2>

  <p>If you come across any bugs or general brokenness you can email Leigh Williams at ltwi@deakin.edu.au.</p>

  <a class="close-reveal-modal">&#215;</a>
</div> <!-- End Bug Modal -->

<!-- About Modal -->
<div id="aboutModal" class="reveal-modal medium" data-reveal>
  <h2>Hi!</h2>

  <p>This site was developed as a project of SIT302 (<%= link_to("Deakin School of Information Technology", "http://www.deakin.edu.au/sebe/it/", :target => "_blank") %>) for the <%= link_to("Deakin School of Exercise and Nutrition Sciences", "http://www.deakin.edu.au/health/ens/", :target => "_blank") %> with:</p>

  <h6>Project supervisor:</h6>
  <p>
    <%= link_to("Dr Shaun Bangay", "http://www.deakin.edu.au/contact/staff-profile/?name=shaun.bangay", :target => "_blank")  %>
  </p>

  <h6>Clients:</h6>
  <p>
    <%= link_to("Megan Thornton", "http://www.deakin.edu.au/contact/staff-profile/?name=megan.thornton", :target => "_blank")  %>
  </p>

  <p>
    <%= link_to("Dr Phillip Parker", "http://www.deakin.edu.au/contact/staff-profile/?name=phillip.parker", :target => "_blank")  %>
  </p>

  <h6>Thanks:</h6>
  <p>
    <%= link_to("Tim Wilkin", "http://www.deakin.edu.au/contact/staff-profile/?name=tim.wilkin", :target => "_blank")  %>
  </p>

  <h6>By:</h6>
  <ul>
    <li>Ibrahim Alobaid</li>
    <li>Mostafa Jafari</li>
    <li>Matthew Rimmer</li>
    <li>Anthony Williams</li>
    <li>Leigh Williams</li>
  </ul>

  <a class="close-reveal-modal">&#215;</a>
</div> <!-- End About Modal -->

<!-- Polarity Modal -->
<div id="polarityModal" class="reveal-modal medium" data-reveal>
  <h2>Hydrophilic and Hydrophobic Domains</h2>

  <p>The tertiary structure is the 3D arrangement of the atoms within the protein. It takes into account the conformation of side chains, as well as the alpha-helices and beta-pleated sheets. The way that proteins fold is dependent on the environment that the protein exists in, and the amino acids present within the protein.</p>

  <p>For example, if Protein A exists in a water- or polar environment, then the protein will be structured so that the majority of the hydrophilic amino acids (those which love water) can interact with the water environment. This may place the hydrophilic amino acids mainly on the outside of the protein and hide the hydrophobic (water-hating) amino acids on the inside of the protein. You can view this in the protein visual; Tick the ‘Polarity’ box in the menu, and use your mouse to move the protein. Can you see one colour mainly on the outside of the protein? In a protein visualisation, hydrophilic areas are often shown in red.</p>

  <p>If Protein B exists in a lipid or non-polar environment, then the protein will be structured so that the majority of the hydrophobic amino acids (those which hate water and like oils) can interact with that non-polar environment. This hydrophobic section, or hydrophobic domain, is often shown in blue in a protein visualisation.</p>

  <p>One example of “Protein B” is Aquaporin, a transmembrane protein which sits inside the lipids of a membrane (which are hydrophobic) and allows water (which is hydrophilic) to pass through it. You can see the transmembrane protein, in yellow in the cartoon below. The top of the image is the inside of a cell, and the bottom right of the image is the outside of the cell, with the lipid membrane of the cell shown in light blue.</p>

  <p>Most of the outside of the protein is in contact with the lipid membrane, apart from small sections at the top and bottom of the membrane. Therefore, this outer, middle section of the protein must made up of non-polar, or hydrophobic, amino acids to allow the protein and membrane to interact and hold the protein in place. Meanwhile, the inside of the transmembrane protein must have polar (hydrophilic) amino acids which allows the flow of water through.</p>

  <%= image_tag("polarity1.jpg") %>

  <p>You can see the hydrophilic and hydrophobic sections of the transmembrane protein Aquaporin in the visualisation below. The majority of the outside of the protein is blue (hydrophobic), as the outer of the protein needs to interact with nonpolar membrane lipids. Meanwhile, the inside of the protein is mainly red (hydrophilic), as it must interact with water passing through. The upper and lower sections of the protein are also hydrophilic, as they must sit in polar areas inside and outside of the cells.</p>

  <%= image_tag("polarity2.png") %>

  <p><i>Aquaporin, where <b>A</b> shows the transmembrane area of the protein which interacts with the lipid membrane, and <b>B</b> shows the pore through which water passes across membrane without touching the lipid bilayer.</i></p>

  <p>You can read more about hydrophilic and hydrophobic domains in Chapter 5 (pg 178 and Figure 5.11 on pg 182) of Coultate’s “Food; the Chemistry of its Components”, and Chapter 6 of Whitney’s “Understanding Nutrition; 13th Edition”, both of which you can find in the resources section.</p>

  <a class="close-reveal-modal">&#215;</a>

  <script>
    if(twoD == true) {
      alert("Your browser does not support WebGL or has it disabled. Some features of the site will not be available.");
    }
  </script>
</div> <!-- End Polarity Modal -->
