<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <%= favicon_link_tag '/favicon.ico' %>
    <title><%= content_for?(:title) ? yield(:title) : "Protein Visualiser" %></title>
    <%= javascript_include_tag "modernizr" %>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'shared/analytics' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <%= render 'shared/scene' %>
    <%= render 'shared/footer' %>
    <%= render 'shared/modals' %>
  </body>
</html>
